* { touch-action: pan-y; }
.el-dialog__wrapper{
  min-width: 1200px;
}
.table-box-content {
  border: 1px solid #eeeeee;
  overflow-y: auto;
}
.el-menu-item:focus, .el-menu-item:hover ,.el-submenu__title:hover{
  outline: 0;
  background-color: #ecf5ff !important;
}
.el-submenu__title,.el-menu-item,.el-breadcrumb__inner{
    color: #515a6e;
}
.el-submenu.is-opened .el-submenu__title{
  color: #409EFF !important;
}
.el-submenu.is-opened .el-submenu__title .el-icon-document{
  color: #409EFF !important;
}
.el-submenu.is-active .el-submenu__title{
  color: #409EFF !important;
}
.el-submenu.is-active .el-submenu__title .el-icon-document{
  color: #409EFF !important;
}
.el-breadcrumb__inner a, .el-breadcrumb__inner.is-link{
    font-weight: initial;
}
.el-pagination {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.el-aside::-webkit-scrollbar {
  display: none;
}
.el-aside{
  -ms-overflow-style: none;
}
/* 修改按钮样式 */
.operate-group .item {
  display: inline;
}

.operate-group {
  display: flex;
  justify-content: space-around;
}

.el-button--mini {
  padding: 7px 10px;
}
.reg .cell{
  white-space: nowrap;
}
.reg .cell .el-tooltip{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 修改input宽度 */
.search_box,.cache,.outer, .no_width, .trigger {
  text-align: right;
  height: 50px;
}
.search_box .el-form-item .el-form-item__label,.outer .el-form-item .el-form-item__label,.trigger .el-form-item .el-form-item__label{
  font-size: 12px;
  padding: 0 5px 0 0;
}
.search_box .el-form-item__content {
  width: 140px;
}
.search_box .sub-btn .el-form-item__content{
  width: auto;
}
.cache .el-form-item__content,.trigger .el-form-item__content {
  width: 130px;
}
.trigger .el-form-item__content{
  width: 82px;
}
.cache .sub-btn .el-form-item__content{
  width: 155px;
}
.trigger .sub-btn .el-form-item__content{
  width: auto;
}

.width140 .el-form-item__content{
  width: 140px !important;
}
.trigger .width140 .el-form-item__content{
  width: 125px !important;
}
.outer .el-form-item__content {
  width: 110px;
}
.outer .sub-btn .el-form-item__content {
  width: auto;
}
.el-form-item__content .el-button+.el-button{
  margin-left: 3px;
}
.el-table__header thead tr th {
  padding: 0;
  background: #f8f8f9;
}
.el-table__header-wrapper {
  overflow: hidden;
  height: 25px;
}
.el-table__body-wrapper{
  height: calc(100% - 25px);
}
.el-table__body{
  height: 100%;
}

.el-dropdown-link {
  color: #ffffff;
}

.el-breadcrumb {
  height: 4%;
  display: flex;
  align-items: center;
}

.el-table{
    font-size: 12px;
    height: 90%;
}
.el-table thead{
    color: #515a6e;
    font-weight: 400;
}
.el-button{
    font-weight: initial;
}
.el-upload__tip{
  line-height: 20px;
}

.el-upload-list__item{
  background: #f5f7fa;
  outline: none;
}
.el-upload-list__item .el-icon-close{
  display: block;
}
.el-aside{
  border-right: solid 1px #e6e6e6;
}
.table-box .el-textarea .el-textarea__inner{
  min-height: 500px !important;
  max-height: 500px !important;
}
.edit_text .el-textarea .el-textarea__inner{
  min-height: 300px !important;
  max-height: 300px !important;
}
.res_wid .el-form-item__content{
  width: 90px;
}
.ser_text .el-form-item__content{
  margin-left: 0 !important;
}
.ser_text .el-textarea__inner{
  min-height: 300px !important;
  max-height: 300px !important;
}
.ser_t .el-textarea__inner{
  min-height: 300px !important;
  max-height: 300px !important;
}
.ver_text1 .el-input{
  width: 44.4%;
}
.ver_text2 .el-input{
  width: 30%;
}
.el-form-item--mini.el-form-item{
  margin-bottom: 15px;
}
.ma15{
  margin-bottom: 15px;
}

.a_alert{
  background-color: #ecf5ff;
  color: #082B33;
  padding: 10px 16px;
  font-size: 13px;
  box-sizing: border-box;
  border-radius: 4px;
  opacity: 1;
  transition: opacity .2s;
}
.alert_main{
  padding-left: 5px;
  letter-spacing: 1px;
}
.alert_main span{
  font-size: 16px;
}
.el-input__inner,.el-textarea__inner{
  padding: 0 10px;
}
.downloadFile{
  text-decoration: none;
    padding: 3px 10px;
    display: inline-block;
    border: 1px solid #DCDFE6;
    color: #606266;
    border-radius: 3px;
    touch-action: none;
}
.downloadFile:hover{
  color: #409EFF;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}
.downloadFile:active{
  color: #3a8ee6;
  border-color: #3a8ee6;
  outline: 0;
}
.downloadFile::after{
  content:'下载文件';
}
.login-box .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before{
  content:'' !important;
}
.el-form-item.is-success .el-input__inner{
  border: 1px solid #DCDFE6;
}
.el-form-item.is-success .el-input__inner:focus{
  border-color: #409EFF;
}
.btn_role{
  margin-bottom: 20px;
}
.aiml_text .el-textarea__inner{
  min-height: 500px !important;
}
.a_alert{
  background-color: #ecf5ff;
  color: #082B33;
  padding: 10px 16px;
  font-size: 13px;
  box-sizing: border-box;
  border-radius: 4px;
  opacity: 1;
  transition: opacity .2s;
  margin-bottom: 20px;
}
.el-tabs__nav{
  float: right;
}
.el-tooltip__popper{
  max-width: 1200px;
  height: auto;
  max-height: 510px !important;
  overflow-y: auto;
}

.is404{
  display: none !important;
}
.el__select .el-select{
  width: 60%;
}
.el-submenu__title{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #fff;
  z-index: 9;
}
.pass-title{
  width: 400px;
  color: #515a6e;
}
.pass-title .user{
  padding: 20px;
  text-indent: 11px;
}
.pass-title .el-form .el-input__inner{
  height: 35px;
  line-height: 35px;
}
.pass-title .el-form .reg_box{
  text-align: center;
}
.el-link{
  margin-bottom: 10px;
}
.zip_box{
  padding-left: 20px;
}
.workflow .el-form-item__label{
  padding: 0 7px 0 0;
}
.workflow .el-form-item__content{
  width: 125px;
}
.workflow .el-form--inline .el-form-item{
  margin-right: 5px;
}
.workflow .work .el-form-item__content{
  width: 105px;
}
.workflow .work .el-button+.el-button{
  margin-left: 5px;
}
.workflow .el-table--border td:first-child .cell,
.workflow .el-table--border th:first-child .cell,
.workflow .el-table .cell,
.workflow .el-table th div{
  padding-left: 0;
}
.workflow .el-table .cell,
.workflow .el-table th div{
  padding-right: 0;
}
.workflow .el-pagination{
  padding: 14px 0 0;
  height: 5%;
}
.el-range-editor--mini.el-input__inner{
  height: 30px !important;
}
.carousel .el-button+.el-button{
  margin-left: 0;
}
.carousel .transfer .el-button{
  display: block;
  padding: 20px;
  border-radius: 50%;
}
.carousel .el-transfer-panel__header .el-checkbox .el-checkbox__input{
  display: none;
}
.carousel .el-checkbox:last-child{
  margin-right: 20px;
}
.carousel .el-transfer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel .el-carousel{
  width: 800px;
  margin: 0 auto;
}
.carousel .el-transfer-panel{
  width: 350px;
}
.carousel .el-transfer-panel__body .el-transfer-panel__item{
  display: block;
}
.thum{
  width: 80px;
  vertical-align: middle;
}
.add-width{
  width: 288px;
}
.table-box .el-tabs{
  height: 100%;
}
.table-box .el-tabs__item{
  height: 40px;
  line-height: 40px;
}
.table-box .el-tabs__header{
  margin: 0;
  height: 5.5%;
}
.table-box .el-tabs__content{
  height: 94.5%;
}
.table-box .el-tabs__content .el-tab-pane{
  height: 100%;
}
.father{
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  z-index: 33;
}
.i{
  font-size: 23px;
  color: #8c939d;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.remove-btn{
  padding-left: 10px;
}
#demo .show {
  border: 1px dashed #d9d9d9;
  border-radius: 10%;
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  outline: none;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#demo .container {
  z-index: 99;
  height: 420px;
  width: 500px;

  position: fixed;
  /*padding-top: 60px;*/
  left: 35%;
  top: 20%;

  background-color: white;
}
#demo #image {
  max-width: 100%;

}
.cropper-container {
  font-size: 0;
  line-height: 0;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  direction: ltr;
  -ms-touch-action: none;
  touch-action: none
}

.cropper-container img {
  /* Avoid margin top issue (Occur only when margin-top <= -height) */
  display: block;
  min-width: 0 !important;
  max-width: none !important;
  min-height: 0 !important;
  max-height: none !important;
  width: 100%;
  height: 100%;
  image-orientation: 0deg
}
.cropper-wrap-box,
.cropper-canvas,
.cropper-drag-box,
.cropper-crop-box,
.cropper-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cropper-wrap-box {
  overflow: hidden;
}
.cropper-drag-box {
  opacity: 0;
  background-color: #fff;
}
.cropper-modal {
  opacity: .5;
  background-color: #000;
}
.cropper-view-box {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  outline: 1px solid #39f;
  outline-color: rgba(51, 153, 255, 0.75);
}

.cropper-dashed {
  position: absolute;
  display: block;
  opacity: .5;
  border: 0 dashed #eee
}
.cropper-dashed.dashed-h {
  top: 33.33333%;
  left: 0;
  width: 100%;
  height: 33.33333%;
  border-top-width: 1px;
  border-bottom-width: 1px
}
.cropper-dashed.dashed-v {
  top: 0;
  left: 33.33333%;
  width: 33.33333%;
  height: 100%;
  border-right-width: 1px;
  border-left-width: 1px
}
.cropper-center {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  opacity: .75
}
.cropper-center:before,
.cropper-center:after {
  position: absolute;
  display: block;
  content: ' ';
  background-color: #eee
}
.cropper-center:before {
  top: 0;
  left: -3px;
  width: 7px;
  height: 1px
}
.cropper-center:after {
  top: -3px;
  left: 0;
  width: 1px;
  height: 7px
}
.cropper-face,
.cropper-line,
.cropper-point {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: .1;
}
.cropper-face {
  top: 0;
  left: 0;
  background-color: #fff;
}
.cropper-line {
  background-color: #39f
}
.cropper-line.line-e {
  top: 0;
  right: -3px;
  width: 5px;
  cursor: e-resize
}
.cropper-line.line-n {
  top: -3px;
  left: 0;
  height: 5px;
  cursor: n-resize
}
.cropper-line.line-w {
  top: 0;
  left: -3px;
  width: 5px;
  cursor: w-resize
}
.cropper-line.line-s {
  bottom: -3px;
  left: 0;
  height: 5px;
  cursor: s-resize
}
.cropper-point {
  width: 5px;
  height: 5px;

  opacity: .75;
  background-color: #39f
}
.cropper-point.point-e {
  top: 50%;
  right: -3px;
  margin-top: -3px;
  cursor: e-resize
}
.cropper-point.point-n {
  top: -3px;
  left: 50%;
  margin-left: -3px;
  cursor: n-resize
}
.cropper-point.point-w {
  top: 50%;
  left: -3px;
  margin-top: -3px;
  cursor: w-resize
}
.cropper-point.point-s {
  bottom: -3px;
  left: 50%;
  margin-left: -3px;
  cursor: s-resize
}
.cropper-point.point-ne {
  top: -3px;
  right: -3px;
  cursor: ne-resize
}
.cropper-point.point-nw {
  top: -3px;
  left: -3px;
  cursor: nw-resize
}
.cropper-point.point-sw {
  bottom: -3px;
  left: -3px;
  cursor: sw-resize
}
.cropper-point.point-se {
  right: -3px;
  bottom: -3px;
  width: 20px;
  height: 20px;
  cursor: se-resize;
  opacity: 1
}
.el-menu-item, .el-submenu__title{
  height: 40px;
  line-height: 40px;
}
.el-submenu .el-menu-item{
  height: 40px;
  line-height: 40px;
}
.el-main{
  padding: 10px;
  height: 100%;
}
.el-main .table{
  height: 100%;
}
.table .table-box{
  height: calc(100% - 80px);
}
.mainlog .cache, .trigg .trigger{
  height: 80px;
}
.mainlog .table-box, .trigg .table-box{
  height: calc(100% - 100px);
}
.el-table td, .el-table th{
  padding: 0;
}
.el-button--mini {
  padding: 5px 8px;
}
.el-form-item--mini.el-form-item, .ma15 {
  margin-bottom: 10px;
}
.el-form--inline .el-form-item {
  margin-right: 5px;
}
.el-dialog__wrapper .el-dialog__body .el-form-item {
  margin-bottom: 15px;
}
.el-dialog__body{
  padding: 30px 20px 0px;
}

/* .el-form-item--small .el-form-item__content{
  width: 167px;
} */
.dialog-add-footer{
  display: block;
  padding: 0 0 20px 100px;
}
.dialog-con-footer{
  display: block;
  padding-left: 100px;
}
.limitWidth{
  height: auto;
}
.limitWidth.el-table td{
  padding: 12px 0;
}
@media (min-width: 768px) {
  .cropper-point.point-se {
    width: 15px;
    height: 15px
  }
}
@media (min-width: 992px) {
  .cropper-point.point-se {
    width: 10px;
    height: 10px
  }
}
@media (min-width: 1200px) {
  .cropper-point.point-se {
    width: 5px;
    height: 5px;
    opacity: .75
  }
}
.cropper-point.point-se:before {
  position: absolute;
  right: -50%;
  bottom: -50%;
  display: block;
  width: 200%;
  height: 200%;
  content: ' ';
  opacity: 0;
  background-color: #39f
}
.cropper-invisible {
  opacity: 0;
}
.cropper-bg {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMzTjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
}
.cropper-hide {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
}
.cropper-hidden {
  display: none !important;
}
.cropper-move {
  cursor: move;
}
.cropper-crop {
  cursor: crosshair;
}
.cropper-disabled .cropper-drag-box,
.cropper-disabled .cropper-face,
.cropper-disabled .cropper-line,
.cropper-disabled .cropper-point {
  cursor: not-allowed;
}
.workflow .el-table{
  height: calc(100% - 50px);
}
.index{
  height: 100%;
  background: url('../images/index.svg') no-repeat;
  background-size: 70% 70%;
  background-position-x: center;
  background-position-y: center;
}